@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*>*{
    font-family: 'Roboto', sans-serif;
}

body{
    background : #dcdce6;
    background-image: url('./assets/Background.png');
}